*{
	margin:0;
	padding:0; 
}
.box{
	width: 100px;
	height:100px;
	background:red;
    animation-name:width;
    animation-duration:2s;
    animation-direction:alternate-reverse;    
    animation-timing-function:linear;
    animation-iteration-count:infinite;
       
}
@keyframes width{
	from{
		width:100px; 
	}
	to{
		width:500px; 
	}
} 
@keyframes height{
	from{
		height:100px; 
	}
	to{
		height:500px; 
	}
} 

