*{
	margin:0;
	padding:0;  
}
div{
	width:300px;
	height:200px;
	background-color:red;
	border:1px solid black;
	margin:0 auto;
	margin-top:100px;  
}
.div{

	transform-style:preserve-3d;
	perspective:500px;  
}
div#translate{ 
  transform:rotate3d(10,20,50,50deg);
  
	}