*{
	margin:0;
	padding:0;
	list-style:none; 
}
.content{
	width:100%;
	height:100%;
}
.baner{
	width:100%;
	height:560px; 
}
.baner-image{
	width:1343px;
	height:100%;
	margin:0 auto;
	background:url(../marry.img/about-banner.PNG);
	background-size:cover; 
}
.nav{
	width:100%;
	height:75px;
	overflow:hidden; 
	/*background:pink;*/
}
.navcenter{
	width:1249px;
	height:68px;
	margin:15px auto;
	/*border:1px red solid;*/
}
.navcl{
	width:100px;
	height:38px;
	float:left;
	margin-top:10px;
	/*border:1px black solid;*/
}
.blue{
	width:100px;
	height:38px;
}
.navcz{
	width:566px;
	height:55px;
	margin:10px 183px;
	/*border:1px red solid;*/
}
.navcz p{
	width:92px;
	height:52px;
	float:left;
	font-size:16px;
	font-weight:320;
	color:#ffffff;
	line-height:55px;
	text-align:center;  
}
#wee{
	border-bottom:3px #459FED solid;
}
.navcz p:hover{
	color:#459FED;
}


.navcr{
	width:198px;
	height:44px;
	margin-top:-65px;
	float:right;
	/*border:1px red solid;*/
}
.navcrl{
	width:52px;
	height:29px;
	margin-top:5px;
	/*border:1px red solid;*/
}
.icom{
	margin-top:8px;
}
.navcrl p{
	width:32px;
	height:25px;
	font-size:16px;
	font-weight:320;
	color:#ffffff;
	margin-top:-21px;
	margin-left:20px; 
}
.navcrright{
	width:130px;
	height:45px;
	float:right;
	margin-top:-36px;
	border-radius:21px;
	background:#459FED;
}
.navcrright p{
	font-size:16px;
	font-weight:320;
	color:#ffffff;
	line-height:45px;
    text-align: center; 
}
.font{
	width:455px;
	height:196px;
	overflow:hidden; 
	margin:140px auto; 
	/*border:1px green solid;*/
}
.font p{
	font-size:45px;
	font-weight:350;
	color:#ffffff;
	text-align: center;
}
.font span{
	font-size:18px;
	font-weight:350;
	color:#ffffff;
	display:block;
	margin-top:38px;
	text-align: center;
}
.toum{
	width:100%;
	height:72px;
	overflow:hidden; 
	margin-top:-62px;
	background:rgba(139,138,143,0.7);
}
.toumcenter{
    width:1249px;
    height:71px;
    margin:0 auto;
    /*border:1px red solid;*/
}
.mei{
	width:251px;
	height:72px;
	float:left;
/*	border:1px red solid;*/
	background:rgba(139,138,143,-0.3);
}
.mei:hover{
	background:rgba(15,13,15,0.6);
}
.mei p{
	font-size:18px;
	font-weight:320;
	color:#ffffff;
	line-height:72px;
	text-align: center; 
}

#mei1{
	margin-left:117px;
	background:rgba(15,13,15,0.6);
}
.fon{
	width:100%;
	height:826px;
	overflow:hidden; 
	background:#ffffff;
}
.foncenter{
	width:1249px;
	height:824px;
	margin:0 auto;
	/*border:1px red solid;*/
}
.head{
	width:128px;
	height:40px;
	margin:114px auto; 
	/*border:1px red solid;*/
}
.head p{
	font-size:28px;
	font-weight:550;
	color:#000000; 
	line-height:40px; 
	text-align:center; 
}
.fontup{
	width:1000px;
	height:518px;
	margin:-92px auto;
	/*border:1px green solid;*/
}
.fontup p{
	font-size:21px;
	font-weight:350;
	color:#000000; 
	padding-top:50px;
	text-align:center;  
}
#yun{
	padding-top:12px;
}
.shim{
	width:100%;
	height:430px;

}
.shimcenter{
	width:1340px;
	height:430px;
	margin:0 auto;
}
.shiml{
	width:1340px;
	height:100%;
	background-image:url(../marry.img/Mission.PNG);
	background-size:cover;
	overflow:hidden;  
}
.min{
	width:271px; 
	height:119px;
	margin:164px auto;
	/*border:1px green solid;*/
}
.min p{
	font-size:43px;
	font-weight:350;
	color:#ffffff;
	text-align:center; 
}
.min span{
    font-size:16px;
    font-weight:350;
    color:#ffffff;
    display:block; 
    margin-top:33px;
    text-align: center;
}
.yuanj{
	width:100%;
	height:570px;
	background:#ffffff; 
}
.yuanjcenter{
	width:1340px;
	height:570px;
	margin:0 auto;
}
.yuanjj{
	width:1340px;
	height:100%;
	background-image:url(../marry.img/vision.PNG);
	background-size:cover;
	overflow:hidden;  
}
.ch{
	width:469px;
	height:122px;
	margin:337px 632px;
	/*border:1px green solid;*/
}
.ch p{
	font-size:43px;
	font-weight:350;
	color:#000000;
}
.ch span{
	font-size:23px;
	font-weight:350;
	color:#000000;
	display:block; 
	margin-top:40px;
}
.foot{
	width:100%;
	height:340px;
	overflow:hidden;
	background:#071119; 
}
.footcenter{
	width:1200px;
	height:335px;
	margin:0 auto;
	/*border:1px red solid;*/
}
.footleft{
	width:177px;
	height:61px;
	float:left;
	margin-top:26px;
	margin-left:86px;
	/*border:1px green solid;*/
}

.footz{
	width:550px;
	height:280px;
	margin-top:42px;
	margin-left:371px;
	position:relative; 
	/*border:1px red solid;*/
}
.footzs1{
	width:88px;
	height:224px;
	/*border:1px gray solid;*/
	position:absolute; 
}
.footzs1 li{
	font-size:14px;
	color:#ADAEAE;
	padding-top:22px;
	text-align: center;
}
.footzs1 li:hover{
	color:#ffffff;
}
#chap{
	padding-top:0px;
	font-size:16px;
	color:#ffffff;
}
.footzs2{
	width:75px;
	height:101px;
	margin-left:201px;
	/*border:1px white solid;*/
	position:absolute;
}

.footzs2 li{
	font-size:14px;
	color:#ADAEAE;
	padding-top:22px;
	text-align: center;
}
#help{
	padding-top:0px;
	font-size:16px;
	color:#ffffff;
}
.footzs2 li:hover{
	color:#ffffff;
}
.footzs3{
	width:88px;
	height:228px;
	margin:0px 461px;
	/*border:1px red solid;*/
	position:absolute;
}
.footzs3 li{
	font-size:14px;
	color:#ADAEAE;
	padding-top:23px;
	text-align: center;
}
.footzs3 li:hover{
	color:#ffffff;
}
#we{
	padding-top:0px;
	font-size:16px;
	color:#ffffff;
}
.footright{
	width:189px;
	height:220px;
	margin-top:-256px;
	float:right;
	/*border:1px yellow solid;*/
	
}
.footz p{
	font-size:12px;
	color:#6C6C6C;
	margin-top:263px;
	text-align:center;
	position:absolute; 
}
#kef{
	font-size:16px;
	font-weight:350;
	color:#ffffff;
}
#num{
	font-size:21px;
	font-weight:350;
	color:#ECA94D;
	margin-top:15px;
}
.signal{
	width:107px;
	height:104px;
	background-size:cover;
}
.footright p{
	font-size:16px;
	color:#ffffff;
	/*text-align:center;*/
}
/*.footright span{
	display:block;
	font-size:23px;
	color:#FAAD37;
	margin-top:12px;
	margin-left:9px;
}*/
.footright span{
	font-size:23px;
	font-weight:350;
	color:#FAAD4D;
	display:block;
	margin-top:24px; 
	margin-left:0px;
}

.gj p{
	font-size:16px;
	color:#ffffff;
	margin-top:7px;
	margin-left:0px;
}
