*{
	margin:0;
	padding:0;
	list-style: none;
}
.container{
	width:100%;
	height:100%;
}
.header{
	width:100%;
	height:110px;
	position: absolute;
	/*background: blue;*/
	z-index: 1;

}
.header img{
	width:245px;
    margin-left:200px;
    margin-top:30px;
    float:left;
}
.nav{
	width:600px;
	height:110px;
	float:right;
	/*border:1px solid black;*/
}
.nav p{
	float: left;
	text-align: center;
	line-height: 110px;
	color:white;
	font-weight: 500px;
	font-size: 20px;
	padding:0px 34px;
}
.banner{
	width:1366px;
	height:650px;
	/*border: 1px red solid;*/
}
/*.banner-center{
	width:1200px;
	height:700px;
	margin:0 auto;
	position: absolute;*/
/*}*/

.banner-center{
	width:1366px;
	height:650px;
	overflow: hidden;
	position: relative;
}
ul{
	position: absolute;
	top: 0;
	left: 0;
	width:4098px;
	height:650px;


}
ul>li{
	width: 1366px;
	height: 650px;
	float: left;
}
li>img{
	width: 1366px;
	height: 650px;
	/*margin-right:10px;*/
}
 .circle{
 	/*width:210px;*/
    position: absolute;
    z-index: 2;
    bottom:80px;
    left:50%;
    margin-left:-30px;
 }
 .circle div{
 	width:10px;
 	height:10px;
 	float:left;
 	border-radius: 100%;
    background: white;
    margin:0 10px;

 }
 .circle>.het{
 	width:20px;
 	height:10px;
 	border-radius: 50px;

 }
 .left{
 	position: fixed;
 	top:50%;
 	margin-top: -70px;
 	left:10px;
 }
 .left div{
 	width:10px;
 	height:10px;
 	margin-bottom: 10px;
 	background: white;
 	border-radius: 100%;

 }
 .wid{
 	width:10px;
 	height:25px;
 }
 .right{
 	position: fixed;
 	top:50%;
 	right:0px;
 	margin-top:-120px;


 }
 .right div{
 	width:100px;
 	height:100px;
 	background:#EC6200;
 	border-bottom: 1px solid white;
 	color:white;
 	font-size:20px;
 	 
 }
 .right p{
 	text-align: center;
 }
 .right img{
 	margin-left:20px;
 	margin-top:10px;
 }
 

